--exclude **/*.generated.swift
--exclude SDK/Sources/KSSDiff
--exclude SDK/Sources/CasePaths
--exclude SDK/Sources/Clocks
--exclude SDK/Sources/CombineSchedulers
--exclude SDK/Sources/ComposableArchitecture
--exclude SDK/Sources/ConcurrencyExtras
--exclude SDK/Sources/CustomDump
--exclude SDK/Sources/Dependencies
--exclude SDK/Sources/IdentifiedCollections
--exclude SDK/Sources/Perception
--exclude SDK/Sources/SwiftUINavigation
--exclude SDK/Sources/SwiftUINavigationCore
--exclude SDK/Sources/XCTestDynamicOverlay

--commas inline
--funcattributes prev-line
--header "{file}"
--ifdef no-indent
--importgrouping testable-last
--indent 4
--maxwidth 140
--self init-only
--semicolons never
--typeattributes prev-line
--varattributes same-line
--wrapcollections before-first
--wrapparameters before-first
--asynccapturing expectAsync
--throwcapturing expectAsync
--selfrequired expectAsync,expectFirst
--extensionacl on-declarations

--enable blankLineAfterImports,blankLinesBetweenImports

--disable andOperator,redundantType,wrapMultilineStatementBraces,preferKeyPath,trailingClosures
